<div class="container">
  <h3>Nouveau don</h3>
  <div *ngIf="donSucces" class="alert alert-success" role="alert">
    Votre don a été envoyé avec succès!
  </div>
  <form class="" 
  #form="ngForm" 
  autocomplete="off" 
  novalidate
  *ngIf="formData">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6 card bg-light pt-3 ">
            <h4>Formulair d'ajout d'articles</h4>
          <div class="form-group required">
            <label>Articles</label>
            <select
              [(ngModel)]="formData.idArticle"
              name="idArticle"
              #idArticle="ngModel"
              (change)="checkValid()"
              class="form-control"
              [class.is-invalid]="!articleValid && idArticle.touched"
            >
              <option value="0">- Selectionnez un article -</option>
              <option
                *ngFor="let item of this.articleList"
                value="{{ item.id }}"
                >{{ item.id }} - {{ item.nom }}</option
              >
            </select>
            <div *ngIf="!articleValid"  class="invalid-feedback">
                Veuillez sélectionner un article.
              </div>
          </div>
          <div class="form-group required">
            <label>Description</label>
            <textarea
              [(ngModel)]="formData.description"
              name="description"
              #description="ngModel"
              
              class="form-control"
              rows="1"
              (input)="checkValid()"
              [class.is-invalid]="!descValid && description.touched"
              required
            ></textarea>
            <div *ngIf="!descValid"  class="invalid-feedback">
              Donnez une description de plus de charactere
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col required">
              <label>Valeur</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">$</div>
                </div>
                <input
                  [(ngModel)]="formData.valeur"
                  name="valeur"
                  #valeur="ngModel"
                  (input)="checkValid()"
                  class="form-control"
                  min="1"
                  type="number"
                  [class.is-invalid]="!prixValid && valeur.touched"
                  required
                />
                <div *ngIf="!prixValid"  class="invalid-feedback">
                  Entrez une valeur supérieur a 0$.
                </div>
              </div>
            </div>

            <div class="form-group col required">
              <label>Quantite</label>
              <input
                [(ngModel)]="formData.quantite"
                name="quantite"
                #quantite="ngModel"
                (input)="checkValid()"
                class="form-control"
                min="1"
                type="number"
                required
                [class.is-invalid]="!qteValid && quantite.touched"
              />
              <div *ngIf="!qteValid"  class="invalid-feedback">
                  Minimum d'un article.
                </div>
            </div>
            

            <div class="form-group col">
              <label>Total</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">$</div>
                </div>
                <input disabled class="form-control" 
                value="{{ formData.quantite * formData.valeur }}" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <button (click)="onSubmit()" class="btn btn-primary float-right">
              Ajouter l'article
            </button>
            <button (click)="resetForm()" class="btn btn-outline-secondary">
              Annuler l'article
            </button>
          </div>
        </div>
        <div class="col-lg-6 pt-3">
            <h4>Liste des articles du don</h4>
          <table class="table overflow-auto">
            <thead>
              <tr >
                
                <th scope="col" width="20%">Article</th>
                <th scope="col" width="50%">Description</th>
                <th scope="col" width="10%">Valeur</th>
                <th scope="col" width="10%">Qte</th>
                <th scope="col" width="10%">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="this.donArticleList.length==0">
                <td class="font-italic text-center" colspan="5">
                  Ajoutez des articles avant de pouvoir faire votre don.
                </td>
              </tr>

              </tbody>
              <tbody class="accordion" id="accordionTable" *ngFor="let item of this.donArticleList.reverse(); let i = index">
                
              <tr style="transform: rotate(0);" class="border-0">
                
                <td>{{ item.nom }}
                  <a class="stretched-link collapsed" data-toggle="collapse" href="#collapse-{{i}}" type="hidden"></a>
                </td>
                <td>{{ item.description }}</td>
                <td>{{ item.valeur }}$</td>
                <td>{{ item.quantite }}</td>
                <td>{{ item.valeur * item.quantite }}$</td>
              </tr>

              <tr class="collapse p-0 border-top-0" data-parent="#accordionTable" id="collapse-{{i}}">
                  <td colspan="5">
                      <button (click)="modifArticle(item)" class="btn btn-primary float-right">
                          Modifier l'article
                        </button>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <hr />
          
          <button (click)="annulerDon()" class="btn btn-outline-secondary float-left">
            Annuler le don
          </button>
          <div>
            <button (click)="promesse()" class="btn btn-success float-right">
              Promettre le don
            </button>

            <div class="form-group row float-right">
              <label class="col-md-4 offset-md-3 col-form-label text-right">Total du don:</label>
              <div class="col-md-4 input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">$</div>
                </div>
                <input disabled class="form-control" 
                value="{{this.nouveauDon.total}}" />
              </div>
            </div>

            <!-- <div class="form-group float-right mx-4">
              <div class="input-group float-right">
                <label class="float-left">total</label>
                <div class="input-group-prepend">
                  <div class="input-group-text">Total du don $</div>
                </div>
                <input disabled class="form-control" 
                value="{{this.nouveauDon.total}}" />
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="bg-light mt-3">
    <div class="card-body">
      <p class="m-0">Termes et conditions:</p>
      <p class="my-0 ml-3">
        Les vetements doivent etre propre. Aucun sous-vetements.
      </p>
      <p class="my-0 ml-3">
        Seulement la nourriture en canne. La nourriture fraiche n'est pas
        accepte.
      </p>
    </div>
  </div>
</div>
