<div class="container">
    <div class="row">
        <div class="col-md-6 align-middle" style="height: 100%;">
            <h2 style="margin-top: 200px;">Joignez-votre effort au nôtre</h2>
        </div>
        <div class="col-md-6">

            <form #form="ngForm" (ngSubmit)="form.form.valid && onSubmit()" autocomplete="off" *ngIf="formData"
                novalidate>
                <legend>Nouveau {{service.newUser}}</legend>

                <div class="form-group required">
                    <label for="nom">Nom </label>
                    <input type="text" class="form-control" name="nom" [(ngModel)]="formData.nom" #nom="ngModel"
                        [class.is-valid]="nomValid" [class.is-invalid]="!nomValid && nom.touched" class="form-control"
                        (input)="checkValid()" required>
                    <div *ngIf="!nomValid" class="invalid-feedback text-left">
                        Veuillez entrer un nom d'utilisateur, minimum de 4 charactères.
                    </div>
                </div>


                <div class="form-group required">
                    <label for="prenom">Prenom </label>
                    <input type="text" class="form-control" name="prenom" [(ngModel)]="formData.prenom"
                        #prenom="ngModel" [class.is-valid]="prenomValid"
                        [class.is-invalid]="!prenomValid && prenom.touched" class="form-control" (input)="checkValid()"
                        required>
                    <div *ngIf="!prenomValid" class="invalid-feedback text-left">
                        Veuillez entrer un prenom d'utilisateur, minimum de 4 charactères.
                    </div>
                </div>

                <!-- Username -->
                <div class="form-group required">
                        <label for="email">Nom d'utilisateur</label>
                        <div class="input-group">
                            <input type="username" 
                            name="username" 
                            [(ngModel)]="formData.username"
                                #username="ngModel" 
                                [class.is-valid]="usernameValid"
                                [class.is-invalid]="!usernameValid && username.touched || usernameTaken" 
                                class="form-control"
                                (input)="checkValid()" 
                                (blur)="checkUsername()"
                                required>
                            <div *ngIf="!usernameValid" class="invalid-feedback text-left">
                                Nom d'utilisateur requis.
                            </div>
                            <div *ngIf="usernameTaken" class="invalid-feedback text-left">
                                <p>Ce nom d'utilisateur est deja pris, veuillez en choisir un autre.</p> 
                                
                            </div>
                        </div>
                    </div>

                <div class="form-group required">
                    <label for="email">Email</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">@</div>
                        </div>
                        <input type="email" 
                        name="email" 
                        [(ngModel)]="formData.email"
                            #email="ngModel" 
                            [class.is-valid]="emailValid"
                            [class.is-invalid]="!emailValid && email.touched || emailTaken" 
                            class="form-control"
                            (input)="checkValid()" 
                            (blur)="checkEmail()"
                            required>
                        <div *ngIf="!emailValid" class="invalid-feedback text-left">
                            Email d'utilisateur requis.
                        </div>
                        <div *ngIf="!emailValid" class="invalid-feedback text-left">
                            Veuillez entrer un format valide.
                        </div> 
                        <div *ngIf="emailTaken" class="invalid-feedback text-left">
                            <p>Email existe deja.</p> 
                            <div class="card bg-light mt-3">
                            <div class="card-body text-body">
                                <h5>Avez-vous deja un compte?</h5>
                                <a class="btn btn-primary" href="compte/login">Login</a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group required">
                    <label for="password">Mot de Passe</label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="formData.password"
                        #password="ngModel" [class.is-valid]="passwordValid"
                        [class.is-invalid]="!passwordValid && password.touched" class="form-control"
                        (input)="checkValid()" required>
                    <div *ngIf="!passwordValid" class="invalid-feedback text-left">
                        Le mot de passe est requis.
                    </div>
                </div>


                <div class="form-group required">
                    <label for="confirmPassword">Confirmation du mot de Passe</label>
                    <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="confirmPasswordText"
                        #confirmPassword="ngModel" [class.is-valid]="confirmePasswordValid"
                        [class.is-invalid]="!confirmePasswordValid && confirmPassword.touched" class="form-control"
                        (input)="checkValid()" required>
                    <div *ngIf="!confirmePasswordValid" class="invalid-feedback">
                        Le mot de passe doit être identique au premier.

                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="mx-1">
                            <input type="radio" value="2" #type="ngModel" name="type"
                                [(ngModel)]="formData.type">
                            <label for="donateur">Donateur</label>
                        </div>
                        <div class="mx-1">
                            <input type="radio" value="3" name="type" #type="ngModel"
                                [(ngModel)]="formData.type">
                            <label for="benevole">Benevole</label>
                        </div>
                    </div>

                </div>


                <div class="form-group">

                    <button type="submit"
                        [disabled]="!(nomValid && prenomValid && emailValid && passwordValid && confirmePasswordValid || !emailTaken)"
                        class="btn btn-dark mr-3">Soumettre</button>
                    <button type="button" (click)="annuler()" class="btn btn-outline-dark">Annuler</button>
                </div>
            </form>
        </div>
    </div>
</div>