<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container pt-0">
    <a class="navbar-brand" href="#">LogiDons</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav">
        <!-- <ul class="nav navbar-nav" > -->
        <div *ngIf="auth.isDonateur()">
            <li class="nav-item">
              <a class="nav-link" href="don">Nouveau Don</a>
            </li>
        </div>
        <div *ngIf="auth.isSuperviseur()">
          <li class="nav-item">
            <a class="nav-link" href="compte/nouvelemploye">Nouvel employe</a>
          </li>
        </div>
        <div *ngIf="auth.isEmploye()">
          <li class="nav-item">
            <a class="nav-link" href="don/recevoir">Recevoir don</a>
          </li>
        </div>
        <div *ngIf="auth.isBenevole()">
          
        </div>
      </ul>
    </div>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class=" navbar-nav ml-auto">
        <li class="nav-item  ">
          <a class="nav-link" href="compte/nouveaucompte" *ngIf="!auth.isLoggedIn()"
            >Nouveau Compte</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" href="contactez-nous">Contactez-nous</a>
        </li>

        <li class="nav-item">
          <a class="nav-link " href="compte/login" *ngIf="!auth.isLoggedIn()">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="compte/profil" *ngIf="!auth.isLoggedIn()">Profil</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            (click)="logout()"
            *ngIf="isLoggedIn"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
