<div class="container">

  <h3>Formulaire de réception d'un don</h3>
  <h3>Liste des dons a recevoir: </h3>

  <div class="card mt-3">
    <div class="card-body">
      <div class="row mb-2">
        <div class="col-md-4">Donateur: </div>
        <div class="col-md-4">Valeur: $</div>
        <div class="col-md-4">Nombre d'items: </div>
      </div>
      <div class="row align-bottom">
        <div class="col-md-4">Date promesse: </div>
        <div class="col-md-4">Etat</div>
        <div class="col-md-4"><button class="btn btn-success float-right ">Recevoir</button></div>
      </div>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <div class="row mb-2">
        <div class="col-md-4">Donateur: </div>
        <div class="col-md-4">Valeur: $</div>
        <div class="col-md-4">Nombre d'items: </div>
      </div>
      <div class="row">
        <div class="col-md-4">Date promesse: </div>
        <div class="col-md-4">Etat</div>
        <div class="col-md-4"><button class="btn btn-success bt-sm float-right">Recevoir</button></div>
      </div>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <div class="row mb-2">
        <div class="col-md-4">Donateur: </div>
        <div class="col-md-4">Valeur: $</div>
        <div class="col-md-4">Nombre d'items: </div>
      </div>
      <div class="row">
        <div class="col-md-4">Date promesse: </div>
        <div class="col-md-4">Etat</div>
        <div class="col-md-4"><button class="btn btn-success bt-sm float-right">Recevoir</button></div>
      </div>
    </div>
  </div>

</div>