<div class="masthead">
  <div class="container">
    <div class="row">
    <div class="jumbotron col-md-5" style="
    position: absolute;
    top: 20%;
    background-color:rgba(255, 255, 255, 0.9);
    color: black;">
      <h1 class="display-4">Donnez, ça aide.</h1>
      <p class="lead">
        Tous les dons aident des personnes gens dans le besoin.
      </p>
      <hr class="my-4" />
      <p>
        Devenez donateur pour nous envoyer des dons, ou devenez bénévole pour nous donner de votre temps
      </p>
      <div class="text-center">
      
        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Donner
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" 
  aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Avez-vous un compte?</h5>
          <button type="button" class="btn btn-outline-primary mr-0" (click)="login()" data-dismiss="modal">Oui, me connecter</button>
        </div>
          <h5 class="mt-3">Non? Je veux devenir: </h5>
        <div class="modal-body row">
          <div class="col-md-6 border-right">
              <a href="compte/nouveaucompte" (click)="newDonateur()" class="btn btn-primary">Donateur</a>
          </div>
          <div class="col-md-6">
              <a href="compte/nouveaucompte" (click)="newBenevole()" class="btn btn-primary">Bénévole</a>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">Annuler &times;</button>
        </div>
      </div>
    </div>
  </div>


        </div>
    </div>
  </div>
</div>
</div>
